#access parameters

#the global IP address of the computer running Hermes

masterIpAddress=autodetect

#this is the username on the machine you are running hermes. It is best to leave on autodetect, if you specify it wrongly, silent failures will occur.
masterUsername=autodetect

# The path to the ssh private key in order to access all sites including the local site. Warning, the key will be transferred
# (over a secure and encrypted ssh connection) to the sites in order to establish ssh tunnels allowing
# the containers to communicate. The key is transferred securely, and can only be read on the remote site
# by your provided user accounts (access rights are set to 400). However, as the key is loaded on the
# containers, untrusted remote site users that can access the docker daemon could possibly attach
# to the Hermes container running there and steal your key. Unless you control all sites or trust their
# users that can access the docker daemon, your key might be compromised and in that case it is not
# recommended to use a critical key.

pathToSSHKEy=

#clone git code repository each time
dockerContainer=akintsakis/hermescomponents:latest
cloneGitCodeRepositoryOnEachRun=false
gitCodeRepo=https://github.com/akintsakis/HermesComponents.git

# keep all intermediate inputs
keepAllIntermediateInputs=true

# assess data files for prediction purposes. Warning this can cause large delays in huge files as they have to be read. 
inputOutputFileAssessment=true


### Ports ###
# Change the default port assignment values below if you are encountering issues   

#ports used in master
masterListeningPort=40990
fileRetrieverListeningPortOnMaster=20290
commsThreadListeningPortOnMaster=20999

# used in master
masterPortForwardsToSitesStartFrom=40000

#port range for tunnels on all sites
siteTunnelPortsStartFrom=50000

### Ports ###

### Hermes Docker image and container name
#Change these values only if you are encountering problems
hermesWorkflowImageName=hermes_workflow_image
hermesWorkflowContainerName=hermes_workflow_run
###


